Repository karafka/rdkafka-ruby, pull requests merged in 2024-01, with the labels that each got.

#363 Nix support
  ext/Rakefile
Labels: librdkafka

#388 Skip intermediate callback array
  CHANGELOG.md
  lib/rdkafka/producer.rb
Labels: producer, performance

#391 run ci only on most recent 2.7
  .github/workflows/ci.yml
Labels: specs

#393 provide primitives to fetch consumer group metadata pointers
  lib/rdkafka/bindings.rb
  lib/rdkafka/callbacks.rb
  lib/rdkafka/consumer.rb
  spec/rdkafka/consumer_spec.rb
Labels: consumer

#404 use failed partition count result shorter than the cache
  CHANGELOG.md
  lib/rdkafka/producer.rb
Labels: bug, producer
