Repository karafka/rdkafka-ruby, pull requests merged in 2024-06, with the labels that each got.

#456 improve object allocations
  CHANGELOG.md
  lib/rdkafka/consumer/headers.rb
  lib/rdkafka/producer.rb
  lib/rdkafka/producer/delivery_handle.rb
  spec/rdkafka/consumer/headers_spec.rb
  spec/rdkafka/producer/delivery_handle_spec.rb
Labels: producer, performance

#461 Update librdkafka to 2.4.0
  CHANGELOG.md
  README.md
  lib/rdkafka/version.rb
  spec/rdkafka/admin_spec.rb
Labels: librdkafka

#462 Add `seek_by` method
  CHANGELOG.md
  lib/rdkafka/consumer.rb
  spec/rdkafka/consumer_spec.rb
Labels: enhancement, consumer
